<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class="loaded">
    <header class="d-flex flex-wrap justify-content-md-between justify-content-center py-4 px-5 figtree-blogFont">
        <a href="/" class="d-flex align-items-center text-center mb-3 mb-md-0 me-md-auto mx-4 link-body-emphasis text-decoration-none">
          <span class="fs-2 px-1" style="color: #374a4a;">MY</span>
          <span class="fs-2" style="color: #a37e5d;">Blog.</span>
        </a>
  
        <ul class="nav nav-pills mx-4">
          <li class="nav-item"><a href="/" class="nav-link nav-bar-a-fs px-4 py-3" aria-current="page" style="color: #374a4a; letter-spacing: 1px;">Home</a></li>
          <li class="nav-item"><a href="/create" class="btn btn-outline-dark nav-bar-a-fs px-3 py-3" style="letter-spacing: 1px;">Create Blog</a></li>
        </ul>
    </header>
